<main class="h-screen w-screen flex flex-col items-center gap-5">
    <h1 class="text-4xl font-bold mt-2 mb-8">Simplex en grafos</h1>
  <div class="flex items-center gap-4">
    <p class="font-semibold">Objetivo:</p>
    <app-eq-input [input_id]="variable.input_id" (valueChange)="changeValueInput($event)" [variable]="variable.variable" [variable_2]="variable.variable_2" [coefficient]="variable.coefficient" *ngFor="let variable of equations.get(1); let i = index"></app-eq-input>
    <div>
        <button *ngIf="!equations.get(2)" (click)="addVariable()" class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-lg">Agregar</button>
    </div>
  </div>
  <div class="flex flex-col gap-4 ">
    <p class="font-semibold">Sujeto a:</p>
    <div class="flex items-center gap-4" *ngFor="let subject of valuesArray; let i = index">
      <ng-container *ngIf="i > 0">
        <app-eq-input [input_id]="variable.input_id" (valueChange)="changeValueInput($event)" [eq_id]="variable.eq_id" [variable]="variable.variable" [coefficient]="variable.coefficient" [disabled]="true" *ngFor="let variable of subject"></app-eq-input>
        <div class="h-8 border-r-2 w-1"></div>
        <app-eq-sign-input [sign]="subject[0].sign || null" (valueChange)="changeSign($event, subject[0].eq_id)"></app-eq-sign-input>
      </ng-container>
    </div>
    <button (click)="addSubjectTo()" class="bg-blue-500 hover:bg-blue-700 mt-5 text-white px-4 py-2 rounded-lg">Agregar</button>
  </div>

  <div class="absolute top-2 left-2">
    <button (click)="reset()" class="bg-yellow-300 hover:bg-blue-700 text-white px-4 py-2 rounded-lg">Resetear</button>
    <input type="number" class="w-24 bg-transparent text-black hover:outline hover:outline-slate-400 border-2 mx-5 px-4 py-2 rounded-lg" placeholder="Iterations" [(ngModel)]="iterations">
  </div>
  <div class="absolute top-2 right-2">
    <button (click)="calculate()" class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-lg">Calcular</button>
  </div>
  <div class="w-screen h-1 border-b-2">

  </div>
  <div class="flex flex-col gap-5 ">
    <ng-container *ngFor="let table of table_data.values(); index as i">
      <h3 class="text-center">Tabla {{ i + 1 }}</h3>
      <app-table-data  [data]="table"></app-table-data>
    </ng-container>

  </div>
</main>
